.HeroSection{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    margin-bottom: 160px !important;
    &_decor{
        width: 100%;
        height: calc(100vh - 100px);
        display: flex;
        justify-content: center;
        align-items: start;
        &_container{
            width: 100% !important;
            height: 100% !important;
        }
        &_black{
            min-width: 100vw !important;
            height: 30px !important;
            background-color: #FFF;
            z-index: 999;
            &_Top{
                bottom: 300px;
                left: 1800px;
            }
            &_Bottom{
                top: 300px;
                right: 50vw;
            }
        }
        &_img{
            min-width: 100% !important;
            height: 100% !important;
            img{
                min-width: 100%;
            }
            @media(max-width: 850px){
                rotate: 90deg;
                img{
                    min-height: 220px;
                    max-height: 220px;
                    min-width: 650px;
                    max-width: 650px;
                }
            }
        }
    }
    &_btn{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &_el{
            background-color: #FF8E00;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 25px 43px;
            gap: 16px;
            font-family: 'Passion';
            font-size: 64px;
            color: #000;
            text-transform: uppercase;
            cursor: pointer;
            transition: color 300ms, background-color 300ms;
            img{
                width: 40px;
                transition: filter 300ms;
            }
            &:hover{
                background-color: #000;
                color: #FFF;
                img{
                    filter: invert(1);
                }
            }
            @media(max-width: 550px){
                padding: 25px;
                font-size: 32px;
                img{
                    width: 25px;
                }
            }
        }
    }
}