@font-face {
    font-family: 'Passero';
    src: url('/fonts/PasseroOne-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Passion';
    src: url('/fonts/PassionOne-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}